{# FILE: /blog_project/djangoapp/templates/blog/partials/_footer.html #}

{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css #}
<footer class="footer section-wrapper"> {#1: #}
    <div class="section-content-wide">
      <div class="section-gap">
        <div class="center">
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/models.py #}
          <a href="#"> © {% now "Y" %} {{site_setup.title}} - Todos os direitos reservados (https://linktr.ee/edsoncopque) </a> {##}
        </div>
      </div>
    </div>
  </footer>


{#1: Define o rodapé da página usando a classe footer para estilização. #}

{# https://linktr.ee/edsoncopque #}