{# FILE: /blog_project/djangoapp/templates/blog/partials/_footer.html #}

{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css #}
<footer class="footer section-wrapper"> {#1: #}
    <div class="section-content-wide">
      <div class="section-gap">
        <div class="center">
          <a href="#"> © Blog do Edson Copque - Todos os direitos reservados. </a>
        </div>
      </div>
    </div>
  </footer>


{#1: Define o rodapé da página usando a classe footer para estilização. #}