{# FILE: /blog_project/djangoapp/templates/blog/partials/_footer.html #}

{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css #}
<footer class="footer section-wrapper"> {#1: #}
    <div class="section-content-wide">
      <div class="section-gap">
        <div class="center">
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/models.py #}
          <a href="#"> © {% now "Y" %} {{site_setup.title}} - Todos os direitos reservados
          </a> {#2: #}
        </div>
      </div>
    </div>
  </footer>

{#3⬇: #}
<script>
  (function () {
    if (typeof CodeMirror == 'undefined') return;

    const codes = document.querySelectorAll('pre');

    for (const code of codes) {
      const language = code.dataset.language || null;
      const text = code.textContent || code.innerText;

      const config = {
        value: text,
        tabSize: 2,
        mode: language,
        theme: 'dracula',
        lineNumbers: true,
        styleActiveLine: true,
        styleActiveSelected: true,
        lineWrapping: false,
        line: true,
        readOnly: true,
        viewportMargin: 50,
        matchBrackets: true,
      };

      const editor = CodeMirror(function (node) {
        code.parentNode.replaceChild(node, code);
      }, config);
    }
  })();
</script>


{#3: Esse bloco de código JavaScript no arquivo _footer.html está relacionado à biblioteca CodeMirror, que é utilizada para transformar blocos de código estáticos em editores interativos no navegador. Não vamos nos aprofundar! #}
{# ------------------------------------------------------------------ #}
{#2: Esta linha HTML está utilizando o context processor site_setup para acessar o campo title do objeto site_setup. {{site_setup.title}} renderiza o título do site que foi definido na configuração do site (SiteSetup). O {% now "Y" %} é uma tag de template do Django que exibe o ano atual. #}
{# ------------------------------------------------------------------ #}
{#1: Define o rodapé da página usando a classe footer para estilização. #}

{# https://linktr.ee/edsoncopque #}