{# FILE: /blog_project/djangoapp/templates/blog/partials/_head.html #}

{% load static %} {#7: #}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/remedy.css #}
<link rel="stylesheet" href="{% static 'blog/css/remedy.css' %}"> {#9: #10: #}
{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css #}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> {#8: #}

{% if site_setup.favicon %} {#1: #2: #3: #4: #}
    <link rel="shortcut icon" href="{{site_setup.favicon.url}}" type="image/png"> {#5: #}
{% endif %}

{# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
<title>{{site_setup.title}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {#11: #}



{# ------------------------------------------------------------------ #}
{#11: Importa a biblioteca Font Awesome, que é usada para adicionar ícones ao site. Permite o uso de ícones como aqueles utilizados na navegação de paginação para melhorar a UI/UX. #}
{# ------------------------------------------------------------------ #}
{#9: https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css #}
{#10: Esta linha importa o arquivo remedy.css localizado no diretório de arquivos estáticos. O CSS Remedy é uma coleção de estilos que corrige alguns dos problemas comuns encontrados nos estilos padrão do navegador. O arquivo é referenciado através da tag {% static %}, o que faz o Django resolver o caminho correto para o arquivo estático. #}
{# ------------------------------------------------------------------ #}
{#1: 'site_setup' está em INSTALLED_APPS (/blog_project/project/settings.py). #}
{#2: app 'site_setup' = name (/blog_project/djangoapp/site_setup/apps.py). #}
{#4: 'favicon' como variable está em (/blog_project/djangoapp/site_setup/models.py). #}
{#5: ATENÇÃO: Até então, não consegui inserir o favicon. #}
{#7: A tag {% load static %} é usada para carregar a tag static do Django, que permite gerar URLs para arquivos estáticos (como CSS, JavaScript e imagens). Carregar o módulo static é obrigatório antes de usá-lo, pois o Django não carrega automaticamente todos os módulos. #}
{#8: Módulo Relacionado: A URL gerada faz referência ao módulo de arquivos estáticos de Django, configurado em 'settings.py' com 'STATIC_URL' e 'STATICFILES_DIRS' ou 'STATIC_ROOT'. #}

{# https://linktr.ee/edsoncopque #}