{# FILE: /blog_project/djangoapp/templates/blog/partials/_header.html #}

{# IMPORT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css #}
<header class="header section-wrapper"> {#1: #}
    <div class="section-content-wide">
      <div class="section-gap">
  
        <h1 class="blog-title center pb-base">
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/models.py #}
          <a class="blog-link" href="/">{{site_setup.title}}</a> {##}
        </h1>
        
        <p class="blog-description pb-base center">
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
          {# IMPORT⬇: /blog_project/djangoapp/site_setup/models.py #}
          {{site_setup.description}}
        </p>
  
        <div class="search pb-base center">
          <form class="search-form" action="#" method="get">
            <div class="search-content">
              <label class="sr-only" id="search-label" for="search-input">Search</label>
              <input
                class="search-input"
                type="search"
                name="search"
                id="search-input"
                placeholder="Search"
                value="Non risu potius quam oratione eiciendum? Quo pleb "
              >
              <button class="search-btn" type="submit" aria-labelledby="search-label">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        
        {# IMPORT⬇: /blog_project/djangoapp/site_setup/context_processors.py #}
        {# IMPORT⬇: /blog_project/djangoapp/site_setup/models.py #}
        {{site_setup.menulink_set.all}} {#2: ## #}
        <nav class="menu">
          <ul class="menu-items">

            <li class="menu-item">
              <a class="menu-link" href="/post/">Post</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="/page/">Page</a>
            </li>

            <li class="menu-item">
              <a class="menu-link" href="#">About us</a>
            
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Contact</a>
            
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Support</a>
            </li>

          </ul>
        </nav>
        
      </div>
    </div>
  </header>


{#2: site_setup = 'setup = SiteSetup' e menulink = MenuLink(). #}


{# ------------------------------------------------------------------ #}

{#1: Um elemento <header> que envolve o conteúdo do cabeçalho da página com classes de estilo header e section-wrapper. #}