<!-- # FILE: /blog_project/djangoapp/templates/blog/partials/_head.html -->

{% load static %} <!-- # -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- # POINT⬇: /blog_project/djangoapp/blog/static/blog/css/style.css -->
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

<!-- # POINT1⬇: 'site_setup' = INSTALLED_APPS (/blog_project/project/settings.py) -->
<!-- # POINT2⬇: app 'site_setup' = name (/blog_project/djangoapp/site_setup/apps.py) -->
<!-- # POINT3⬇: Find 'class SiteSetup()' in (/blog_project/djangoapp/site_setup/models.py) -->
<!-- # POINT4⬇: 'favicon' = variable ( /blog_project/djangoapp/site_setup/models.py) -->
{% if site_setup.fiveicon %}
    <link rel="shortcut icon" href="{{ site_setup.favicon.url }}" type="image/png">
{% endif %}

<title>_HEAD.html</title>