{# FILE: /blog_project/djangoapp/templates/blog/base.html #}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'blog/partials/_head.html' %} {#1: #}
  
  {# IMPORT⬇: /blog_project/djangoapp/templates/blog/pages/post.html #}
  {% block additional_head %} {% endblock additional_head %} {# ## #}
</head>

<body> 
  <div class="blog-wrapper"> {#2: #4: #}
    {% if site_setup.show_header %} {#5: #}
      {% include 'blog/partials/_header.html' %}
    {% endif %}

    {% block content %}{% endblock content %} {#3: #}

    {% if site_setup.show_pagination %} {#6: #}
      {% include 'blog/partials/_pagination.html' %},
    {% endif %}

    {% if site_setup.show_footer %}
      {% include 'blog/partials/_footer.html' %}
    {% endif %}
  </div>
</body>

</html>



{# ------------------------------------------------------------------ #}
{#5: Este bloco condicional verifica se o cabeçalho deve ser exibido. Se show_header estiver habilitado, o cabeçalho (_header.html) será incluído. #}
{#6: Verifica se a paginação deve ser exibida. Se show_pagination estiver habilitado, o template _pagination.html será incluído. #}
{# ------------------------------------------------------------------ #}
{#4: Alteramos de "dark-theme" para "blog-wrapper". #}
{# ------------------------------------------------------------------ #}
{#1: O template base.html inclui o conteúdo do arquivo de template parcial _head.html localizado no diretório blog/partials/. #}
{#2: A classe dark-theme é usada para aplicar um tema escuro ao conteúdo da página. Essa classe provavelmente está definida em um arquivo CSS e altera as cores de fundo, texto, links e outros elementos para um esquema de cores mais escuras. #}
{#3: Essa linha define um bloco de conteúdo que pode ser sobrescrito em templates que estendem 'base.html'. O Django permite que os templates sejam criados de maneira hierárquica usando a herança de templates. A tag {% block %} define um bloco chamado content, que pode ser preenchido ou substituído por outros templates que herdam de 'base.html' (extends). Tudo o que for colocado entre {% block content %} e {% endblock content %} pode ser sobrescrito para criar páginas únicas com estruturas semelhantes. #}

{# https://linktr.ee/edsoncopque #}